.titulo-principal {
  padding-left: 30px;
}

#banner {
  width: 100%;
  margin: 10px 0;
}

.principal {
  background-color: #cccccc;
  padding: 20px;
}

.titulo-centralizado {
  text-align: center;
}

.principal p {
  text-align: center;
}

em strong {
  color: red;
}

#mision {
  font-size: 20px;
}

.diferenciales {
  background-color: #ffffff;
  padding: 30px;
}

.items {
  font-style: italic;
}

.diferenciales ul {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-right: 20px;
}

.imagen-diferenciales {
  width: 50%;
}
